.form {
    &__input {
        width: 260px;
        height: 66px;
        background-image: var(--gradient-bg);
        border-radius: 10px;
        border: 3px solid var(--main-5);
        box-shadow: var(--shadow-inset);
        padding: 0 20px;
        &:focus {
            outline: none;
            border-color: var(--main-3);
        }
    }
    &__textarea {
        width: 555px;
        height: 114px;
        background-image: var(--gradient-bg);
        border-radius: 10px;
        border: 3px solid var(--main-5);
        box-shadow: var(--shadow-inset);
        resize: none;
        padding: 20px 20px;
        &:focus {
            outline: none;
            border-color: var(--main-3);
        }
    }
}

@media (max-width:767px) {
    .form {
        &__input {
            width: 360px;
            height: 66px;
        }
        &__textarea {
            width: 360px;
            height: 114px;
        }
    }
}

@media (max-width:575px) {
    .form {
        &__input {
            width: 250px;
            height: 50px;
        }
        &__textarea {
            width: 250px;
            height: 90px;
        }
    }
}


    
