h1,h2,h3,h4,h5,h6,.text-header {
    font-family: 'Georgia', serif;
    font-weight: 700;
    z-index: 1;
    text-shadow: var(--shadow-text-dark);
    transition: 0.6s all;
}

h1 {
    font-size: 38px;
    &.text-white {
        text-shadow: var(--shadow-text-light);
    }
    .front-page {
        font-size: 46px;
    }
}

h2 {
    font-size: 30px;
    &.text-line {
        position: relative;
        margin-left: 64px;
        color: var(--main-2);
        &:before {
            content: '';
            display: block;
            width: 50px;
            height: 3px;
            position: absolute;
            left: -64px;
            top: 19px;
            background-color: var(--main-2);
            box-shadow: var(--shadow-text-dark);
            border-radius: 10px;
        }
    }
    &.text-white {
        color: var(--text-white);
        &.text-line {
            &:before {
                background-color: var(--text-white);
            }
        }
    }
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 24px;
} 

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

.text-header {
    font-size: 18px;
    text-shadow: var(--shadow-text-dark);
}

.h2-center {
    display: flex;
    justify-content: center;
}

@media (max-width:767px) {
    h1 {
        font-size: 30px;
        .front-page {
            font-size: 40px;
        }
    }
    h2 {
        font-size: 26px;
        &.text-line {
            margin-left: 59px;
            &:before {
                content: '';
                width: 45px;
                height: 3px;
                left: -59px;
                top: 15px;
            }
        }
    }
    
    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 22px;
    }

    .text-header {
        font-size: 16px;
    }
}

@media (max-width:575px) {
    h1 {
        font-size: 26px;
        .front-page {
            font-size: 34px;
        }
    }

    h2 {
        font-size: 22px;
        &.text-line {
            margin-left: 44px;
            &:before {
                content: '';
                width: 30px;
                height: 2px;
                left: -44px;
                top: 14px;
            }
        }
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 16px;
    }

    h6 {
        font-size: 14px;
    }

    .text-header {
        font-size: 14px;
    }
}