:root{
    --white: #fff;
    --black: #000;
    --text: #203349;
    --text-white: #FFFFFF;
    --text-yellow: #F0DAB9;
    --text-blue: #d9e3ea;
    --main-1: #567D9C;
    --main-2: #496072;
    --main-3: #C5D8E6;
    --main-4: #F0DAB9;
    --main-5: #E8C38B;
    --header-bg:rgba(73, 96, 114, .9);
    --gradient-dark: linear-gradient(270deg, #496072 8.89%, #567D9C 100%);
    --gradient-bg: linear-gradient(135deg, #F0DAB9 0%, #C5D8E6 100%);
    --gradient-light: linear-gradient(122deg, #F0DAB9 0%, rgba(240, 218, 185, 0.00) 100%);
    --shadow-text-light: 0px 6px 6px rgba(232, 195, 139, 0.70);
    --shadow-text-dark: 0px 6px 6px rgba(86, 125, 156, 0.70);
    --shadow-button-light: 6px 6px 10px rgba(232, 195, 139, 0.60);
    --shadow-button-dark: 6px 6px 10px rgba(73, 96, 114, 0.60);
    --shadow-icons-light: 2px 2px 5px rgba(240, 218, 185, 0.60);
    --shadow-icons-dark: 2px 2px 5px rgba(73, 96, 114, 0.60);
    --shadow-icons-white: 2px 2px 5px #C5D8E6;
    --shadow-inset: 3px 3px 5px 0px #496072 inset;
}