.advantages {
    min-height: 200px;
    padding: 60px 0;
    background: url('../img/bg/advantages.jpg') center (center/cover) no-repeat;
    overflow: hidden; 
    &__wrapper {
        margin-top: 30px;
        border-radius: 10px;
        border: 4px solid var(--main-5);
        box-shadow: var(--shadow-button-light);
        height: 210px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__subtitle {
        text-align: center;
    }
    &__descr {
        text-align: center;
    }

}