.footer {
    min-height: 100px;
    padding-top: 40px;
    background-image: var(--gradient-dark);
    &__content {
        display: flex;
        justify-content: space-between;
    }
    &__copyright {
        line-height: 20px;
    }
    &__menu {
        display: flex;
        list-style-type: none;
        padding-left: 0;
        &__item {
            margin-left: 20px;
            line-height: 20px;
        }
    }
}