@media (max-width:991px) {
    .contacts {
        &__content {
            width: 100%;
        }
        &__img {
            top: 50%;
            left: 50%;
            width: 90%;
            opacity: 0.3;
            transform: translate(-50%, -50%)
        }
    }
}

@media (max-width:767px) {
    .contacts {
        padding: 30px 0;
        &__item {
            &__icon {
                filter: drop-shadow(var(--shadow-icons-dark)); 
            }
            &:hover {
                .contacts {
                    &__item {
                        &__icon {
                            filter: drop-shadow(var(--shadow-icons-dark)); 
                        }
                        &__descr {
                            filter: none; 
                        }
                    }
                }
            }
        }
    }
}