@media (max-width:991px) {
    .footer {
        padding: 20px 0;
        &__content {
            display: flex;
            flex-direction: column;
        }
        &__menu {
            order: -1;
            &__item {
                margin: 0 20px 0 0;
            }
        }
    }
}