@media (max-width:991px) {
    .contacts {
        &__content {
            width: 100%;
        }
    }
}

@media (max-width:767px) {
    .contacts {
        padding: 30px 0;
        background: url('../img/bg/contacts-tab.jpg') center (center/cover) no-repeat;
        &__item {
            &__icon {
                filter: drop-shadow(var(--shadow-icons-dark)); 
            }
            &:hover {
                .contacts {
                    &__item {
                        &__icon {
                            filter: drop-shadow(var(--shadow-icons-dark)); 
                        }
                        &__descr {
                            filter: none; 
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:575px) {
    .contacts {
        background: url('../img/bg/contacts-mob.jpg') center (center/cover) no-repeat;
    }
}